################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API.Diagram/.vs/API.Diagram
/API.Diagram/bin/Debug/netcoreapp3.1
/API.Diagram/obj
/Model/bin/Debug/netcoreapp3.1
/Model/obj
/Test.Console/bin/Debug/netcoreapp3.1
/Test.Console/obj
